<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="side-nav" mode="side">
        <ul class="side-nav__navigation">
            <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive='active' [routerLink]='["/"]' mat-flat-button class="side-nav__link">Home</a></li>
            <li><a routerLinkActive='active' [routerLink]="['/questions']" mat-flat-button class="side-nav__link">Questions</a></li>
            <li><a routerLinkActive='active' [routerLink]="['/logIn']" mat-flat-button class="side-nav__link">Log-in</a></li>
        </ul>

    </mat-drawer>

    <div class="side-nav__content">
        <div class="side-nav__header" *ngIf='logInService.logIn.logIn;else block'>
            <app-search></app-search>
            <button mat-raised-button color="accent" (click)=' openDialog() '>Ask a question</button>
        </div>
        <ng-content></ng-content>
    </div>

    <ng-template #block>
        <div class="side-nav__header"> </div>
    </ng-template>
</mat-drawer-container>