.side-nav {
    &__header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 8vh;
    }
    &__link {
        min-width: 100%;
        margin: 0 0em;
    }
    &__navigation {
        min-width: 200px;
    }
}

.active {
    color: rgb(255, 255, 255);
    background-color: #3f51b5;
    text-decoration: underline;
}