<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="toggle.showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="toggle.showFiller = !toggle.showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>

    <div class="sidenav-content">
        <div class="side-nav__header">
            <app-search></app-search>
            <button mat-raised-button color="accent" (click)='openDialog()'>Ask a question</button>
        </div>

        <app-question></app-question>
    </div>

</mat-drawer-container>