<form class="ask-question-form">
    <mat-form-field class="ask-question-form__inputs">
        <mat-label>Title</mat-label>
        <input #title matInput placeholder="Title" value="" (input)='addQuestionTitle(title.value)'>
    </mat-form-field>
    <br>
    <mat-form-field class="ask-question-form__inputs">
        <mat-label>Ask your question...</mat-label>
        <textarea #content matInput placeholder="Your question" (input)='addQuestionContent(content.value)'></textarea>
    </mat-form-field>
</form>